<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Interrogations</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Quiz website</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Available quizzes</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>
<form action = "/quiz/login/" method = "post">
    {% csrf_token %}
    Nom d'utilisateur :<br>
    <input type = "text" name = "username"><br>
    Mot de passe :<br>
    <input type = "password" name = "password"><br>
      <input type="submit" value="Submit">

</form>
</body>
</html>