<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Interrogations</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/quiz/index">Quiz website</a>
    </div>
    {% if loginned %}
      <ul class="nav navbar-nav">
      <li{% if location == "Dashboard" %} class = "active" {% endif %}><a href="/quiz/dashboard">Dashboard</a></li>
      <li{% if location == "Available" %} class = "active" {% endif %}><a href="/quiz/available">Available quizzes</a></li>
      <li{% if location == "Settings" %} class = "active" {% endif %}><a href="/quiz/settings">Settings</a></li>
    </ul>
    {% endif %}
      <ul class="nav navbar-nav navbar-right">
          {% if not loginned %}
          <li><a href="/quiz/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
          {% if loginned %}
          <li><a href="/quiz/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}
      </ul>

  </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>
